* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type: none;
}

.container {
  height: 60px;
  width: 100%;
  /* border: 2px solid black; */
  background-color: white;
  display: flex;
  align-items: center;
  color: rgb(52, 52, 52);
  backdrop-filter: blur(45px);
   background: transparent;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 4;
  box-sizing: border-box;
}

.container ul {
  text-decoration: none;
  list-style-type: none;
  display: flex;
  font-weight: bold;
    position: fixed;
    top: 60px;
    left: -50%;
    /* left: 0; */
    flex-direction: column;
    align-items: center;
    /* width: 50%; */
    background-color: white;
    height: 100vh;
    transition: all 0.5s ease-in;
    box-sizing: border-box;
    z-index: 5;
}
.container a {
  color: black;
}
.logo {
  margin: 10px;
  width: 20%;
}
.logo img {
  width: 150px;
}


.container ul li {
  margin: 20px;
  display: flex;
  align-items: center;
  gap: 10px;
}
.shownav{
  left: 0 !important;
}
.item{
  display: flex;
}
.menu p{
font-weight: normal;
font-family: fangsong;

}

.menu p:hover{
  cursor: pointer;
  color: tomato;
}
.line{
  padding: 10px;
  font-size: 25px;
  margin-left: 20px;
}
.logo img {
  /* height: 200px; */
  width: 200px;

  object-position: center center;
}
.tag{
  display: flex;
  font-weight: 600;
  text-decoration: none;
  gap: 10px;
  color: black;   
  align-items: center;
border: none;
background: transparent;
cursor: pointer;

}
  

@media only screen and (max-width: 600px) {
  .fa-bars {
    display: block;
    font-size: 40px;
  }
  .line{
    display: block;
  }
  .shownav{
    left: 0;
  }
  .container {
    justify-content: space-between;
    box-sizing: border-box;
  }
  ul {
    position: fixed;
    top: 60px;
    left: -50%;
    flex-direction: column;
    align-items: center;
    width: 50%;
    background-color: white;
    height: 100vh;
    transition: all 0.5s ease-in;
    box-sizing: border-box;
    z-index: 5;
  }
}
