* {
      font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
        Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
        sans-serif;
    }
    h1,
    h2,
    h3,
    h4 {
       color: #494949;
    }
    #parent {
      /* display: grid; */
      /* grid-template-columns: repeat(3,1fr); */
      display: flex;
      justify-content: space-evenly;
      gap: 30px;
      margin-top: 100px;
    }
    .child-div {
      /* width:max-content; */
      width: 32%;
      padding: 30px;
      box-sizing: border-box;
    }

    .image_container {
      display: grid;
      grid-template-columns: repeat(4, 24%);
      /* column-gap: 20px; */
      gap: 1%;
      justify-content: center;
      margin: auto;
    }
    .minbox {
      grid-column: 1/4;
      grid-row: 1/4;
    }
    img {
      width: 100%;
    }
    .bag {
      background-image: linear-gradient(to right, #4e4e4e 0%, #000000 51%, #474343 100%);

/* margin: 10px; */
padding: 20px;
text-align: center;
/* text-transform: uppercase; */
transition: 0.5s;
background-size: 200% auto;
color: white;
box-shadow: 0 0 20px #eee;
border-radius: 4px;
/* display: block; */
border: none;
font-weight: 600;
}
    .bag:hover {
      background-position: right center; 
    color: #fff;
    text-decoration: none;
    }
    .image_box {
      width: 36%;
    }

    .cart {
    display: flex;
    flex-direction: column;
    /* gap: 20px; */
    justify-content: space-between;
    border: 0px solid #1FA2FF;
    border-right: none;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    background-image: linear-gradient(to right, #f5f5f5 0%, #f3f3f3 51%, #f5f5f5 100%);
}
.content {
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: center;
    /* background: linear-gradient(45deg, #56114c, #683560); */
    background-image: linear-gradient(to right, #1FA2FF 0%, #12D8FA 51%, #1FA2FF 100%);
    background-size: 200%;
    /* margin-left: 20px; */
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    color: white;
    background-image: linear-gradient(to right, #2c2c2c 0%, #000000 51%, #212121 100%);
}
.content p{
  font-size: 20px;
  font-family: cursive;

}

    .details h2{
      color: white;
      font-family: cursive;
    }
    .mrp{
      color: grey;
    }

    @media only screen and (max-width: 600px) {
      #parent{
        flex-direction: column;

      }
      .child-div,.image_box{
        width: 100%;
      }


    }