* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type: none;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.container {
  height: 60px;
  width: 100%;
  background-color: white;
  display: flex;
  align-items: center;
  color: rgb(52, 52, 52);
  backdrop-filter: blur(45px);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 4;
  box-sizing: border-box;
  /* background-image: linear-gradient(to right, #1FA2FF 0%, #12D8FA 51%, #1FA2FF 100%); */
  box-shadow: 1px 1px 8px 0px rgb(0 0 0 / 50%);
}

.container ul {
  text-decoration: none;
  list-style-type: none;
  display: flex;
  font-weight: bold;
    position: fixed;
    top: 58px;
    left: -100%;
    /* left: 0; */
    flex-direction: column;
    /* width: 50%; */
    background-color: white;
    height: 100vh;
    transition: all 0.5s ease-in;
    box-sizing: border-box;
    z-index: 5;
    overflow: scroll;
    width: 100%;
    background: rgba(0,0,0,0.8);
}

#style-2::-webkit-scrollbar-track
{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  border-radius: 10px;
  background-color: #F5F5F5;
}

#style-2::-webkit-scrollbar
{
  width: 12px;
  background-color: #F5F5F5;
}

#style-2::-webkit-scrollbar-thumb
{
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
  background-color: #D62929;
}
.fa-bars{
  color:black;
}



.container a {
  color: black;
}
.logo {
  margin: 10px;
  width: 20%;
}


.container ul li {
  margin: 20px;
  display: flex;
  align-items: center;
  gap: 10px;
}
.shownav{
  left: 0 !important;
}
.item {
  display: flex;
  width: 20%;
    background: white;
    padding: 10px 20px;
}
.menu {
  width: 20%;
  background: white;
  padding: 10px 20px 60px;
}
.menu p{
  font-weight: 600;
  margin-bottom: 5px;
  background: white;
  color: #482c5c;
  padding: 5px 20px;
  border-radius: 4px;
  border: 1px solid #482c5c;
}

.menu p:hover{
  cursor: pointer;
    color: white;
    background: #482c5c;
}
.line{
  padding: 10px;
  font-size: 25px;
  margin-left: 20px;
}
.logo img {
  /* height: 200px; */
  width: 150px;

  object-position: center center;
}
.tag{
  display: flex;
  font-weight: 600;
  text-decoration: none;
  gap: 10px;
  color: black;   
  align-items: center;
border: none;
background: transparent;
cursor: pointer;

}
.search{
  padding: 5px 10px;
    background-image: linear-gradient(to right, #434648 0%, #444a4b 51%, #343738 100%);
    border-radius: 60px;
    color: white;
}
.search::placeholder{
  color: whitesmoke;
  font-weight: bold;
}
#right{
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: right;
  flex-grow: 2;
  margin-right: 20px;
}
#right li{
  color: #494949;
    font-weight: 600;
}
.search_icon{
  position: relative;
}
.search_icon i{
  position: absolute;
    color: white;
    right: 11px;
    top: 8px;
    font-size: 13px;
}
#mobile{
  display: none;
}
  

@media only screen and (max-width: 600px) {
  .fa-bars {
    display: block;
    font-size: 40px;
  }
  .line{
    display: block;
  }
  .shownav{
    left: 0;
  }
  .container {
    justify-content: space-between;
    box-sizing: border-box;
  }
  ul {
    position: fixed;
    top: 60px;
    left: -50%;
    flex-direction: column;
    align-items: center;
    width: 50%;
    background-color: white;
    height: 100vh;
    transition: all 0.5s ease-in;
    box-sizing: border-box;
    z-index: 5;
    align-items: flex-start;
  }
  #right li{
    display: none;
  }
  #right .search_icon{
    display: block;
  }
  .logo{
    width: max-content;
  }
  .logo img{
    width: 100px;
  }
  .item{
    width: 100%;
    align-items: center;
    justify-content: center;

  }
  #mobile{
    display: flex;
  }
  .menu{
    width: max-content;
  }
}
