#parent {
  margin-top: 100px;
}
.p_image {
  width: 100%;
}
.tata {
  display: grid;
  grid-template-columns: 200px 200px 200px 200px;
  /* column-gap: 20px; */
  gap: 10px;
  justify-content: center;
  margin: auto;
  width: max-content;
}
.minbox {
  grid-column: 1/4;
  grid-row: 1/4;
}
.bata {
  width: max-content;
margin: auto;
color: white;
background-image: linear-gradient(to right, #2c2c2c 0%, #000000 51%, #212121 100%);
margin-bottom: 20px;
padding: 15px;
border-radius: 4px;
}
.task{
  align-items: center;
display: flex;
justify-content: space-between;
gap: 20px;
padding: 10px 0px;
width: 830px;
}
.task p{
  font-weight: 600;
  font-size: 25px;
}
.task h1{
  width: 80%;
}

@media only screen and (max-width: 600px) {
  .tata{
    grid-template-columns: repeat(4,60px);
  }
  .task{
    width: 268px;
  }
  .task h1{
    width: 70%;
    font-size: 14px;
  }
  .task p{
    font-size: 14px;
  }

}